.invisible{
  display: none;
}

.navbar {
  display:flex;
  align-items: center;
  padding: 30px;
  width: 97%;
  height: 70px;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 100;
  position: relative;
}

.navbar .title{
  position: absolute;
  margin: 5px;
  font-size: 3em;
  font-weight: bold;
  top: 28px;
  left: 10px;
}

#userId {
  position: absolute;
  left: 500px;
}

#findBtn{
  position: absolute;
  left: 700px;
}